*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
    
}
summary::-webkit-details-marker {
    display: none;
}
summary{
    display: block;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
//Header//

.header__fon{
    padding: 18px 0px;
    background-color: rgb(0, 0, 0);
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content__left{
    display: flex;
}
.logo{
    display: block;
    text-decoration: none;
    margin-right: 40px;
}
.search{
    text-decoration: none;
    align-self: center;
}
.header__content__wright{
    display: flex;    
}
.burger{
    text-decoration: none;
    align-self: center;
}
.avatar{
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    text-decoration: none;
}
.basket{
    text-decoration: none;
    align-self: center;
}


//Promo//

.promo{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;      
}
.promo-container{
    background-image: url(img/img__top.png);
    min-height: 764px;
    background-repeat: no-repeat;
    background-position-x: -226px;
    background-position-y: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text__header{
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    border-left: 16px solid #F16D7F;
    padding-left: 16px;
    text-decoration: none;
}
.text__brand{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.text__fashion{
    color:#F16D7F;
}
//Categories boxes//
.categories{
    margin-top: 65px;
    margin-bottom: 95px;
}

.product__boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__box{
    display: block;
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.box-women{
    background-image: url(img/for__women.png);
}
.mox-men{
    background-image: url(img/for__men.png);
}
.box-kids{
    background-image: url(img/for__kids.png);
}
.product__box__accesories{
    background-image: url(img/accesiries.png);
    height: 180px;
    width: 1140px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 30px;
}
.text__product__box{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.text__color{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
//Products//
.products{
    margin-bottom: 95px;
}
.products__text{
    text-align: center;
    margin-bottom: 50px;
}
.products__header{
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.products__header__text{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.products__holders{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__holder{
    width: 359px;
    border: 1px solid transparent;
    background-color: #F8F8F8;
    margin-bottom: 50px;

}
.product__holder__header{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    margin-top: 25px;
    display: block;
    margin-left:18px;
    margin-right: 20px;
}
.product__holder__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
    margin-left:18px;
    margin-right: 20px;
}
.price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    display: block;
    margin-bottom: 18px;
    margin-left:18px;
    margin-right: 20px;
}
.products__button{
    display: flex;
    justify-content: center;
}
.product__btn{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #F16D7F;
    padding: 15px 40px;
    border: none;
    outline: none;
    text-decoration: none;
}
.product__btn:hover{
    color: #F16D7F;
    background-color: #fff;
    border: 1px solid #F16D7F;
    padding: 14px 39px;
}
//Advantages//
.advantages{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}
.advantages-content{
    display: flex;
    justify-content: space-between;
}
.advantages-content-item{
    text-align: center;
}
.car__margin{
    margin-top: 5px;
}

.header__advantages__content{
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 30px;
}
.text__advantages__content{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
//Fetback//
.feetback{
    background: url(img/subscribe.jpg)center no-repeat;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;   
}
.feetback-content{
    display: flex;
    justify-content: space-between;
}
.feetback__content__left{
    text-align: center;
}
.feetback__content__left__text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
    width: 360px;
}
.feetback__content__wright__text{
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;

}
.text__subscribe{
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.feetback__form{
    display: flex;
}
.mail{
    width: 334px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px;
    border: none;
    padding-left: 18px;
    border-radius: 23px 0px 0px 23px;
    outline: none;
}
.button__subscribe{
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__subscribe:hover{
    color:#f16d7f;
    background-color: #FFFFFF;
}
//Footer//
.footer{
    background-color: black;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer__copy{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer__social__list{
    display: flex;
    list-style-type: none;
}
.social__list{
    text-decoration: none;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    text-decoration: none;
    color: #000000;
}
.social__list:hover{
    background-color:#f16d7f;
    color:#fff;
}

//CATALOG//

//breadcrumbs//
.breadcrumbs{
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation-header{
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-decoration: none;

}
.navigation-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
}
.navigation-li{
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    margin-left: 8px;
}
.navigation-li:hover{
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
}
.dash{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    margin-left: 8px;
}
//top-content//
.top-content{
    padding-top: 50px;
    padding-bottom: 95px;
}
//details//
.filters{display: flex;
    margin-bottom: 64px;
    position: absolute;
    z-index: 1;
}

.filters-categories{
    display: flex;

}
.filtr-summary{
    width: 360px;
    outline: none;
    
}
.filtr-item{
    width: 360px;
    padding-left: 17px;
    padding-bottom: 17px;
    padding-right: 15px;
    padding-top: 16px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    
}
.filters-categories{
    margin-left: 20px;
}
.filtr-item-category{
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    border-left: 4px solid #EF5B70;
    padding-left: 11px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 18px;
    padding-bottom: 11px;
    padding-top: 11px;
}
.filtr-item-list{
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    font-weight: normal;
}
.filtr-item-li{
    margin-top: 11px;
}
.filtr-item-li-margin{
    margin-top: 13px;
}
.filtr{
    width: 360px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}
.filtr-summary{
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    outline: none;
}
.filtr-summary::after{
    content: url(img/filtr__marker.svg);
    margin-left: 10px;
}
.trand-details{
    margin-right: 30px;
}

.trend-summury::after{
    content: url(img/arrow__filtr.svg);
    margin-left: 8px;
}

.size-summary::after{
    content: url(img/arrow__filtr.svg);
    margin-left: 8px;
}
.size-box{
    background-color: #FFFFFF;
    padding: 11px 30px 7px 10px;;
}
.size-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}
.price-details{
    margin-left: 30px;
}
.price-summary::after{
    content: url(img/arrow__filtr.svg);
    margin-left: 8px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pegination-list{
    display: flex;
    list-style-type: none;
    border: 1px solid #C4C4C4;
    padding: 12px;
}
.pagination-li{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    margin: 0px 10px;
}
.arrow-li{
    color: black;
    margin: 0px 10px;
}
//product-page//
.products__holders__catalog{
    margin-top: 50px;
}
.product-content-page{
    padding-top: 95px;
    padding-bottom: 130px;
}
.product-page{
    display: flex;
    justify-content: space-between;
}
.product-cart{
    display: flex;
    margin-bottom: 40px;
}
.product-cart-info{
    margin-left: 32px;
}
.product-cart-info-header{
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-top: 20px;
}
.product-cart-info-list{
    list-style-type: none;
    margin-top: 40px;
}
.product-cart-info-li{
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}
.product-cart-info-li-price{
    font-size: 22px;
    line-height: 26px;
    color: #EF5B70;
}
.product-cart-info-li-filtr{
    font-size: 22px;
    line-height: 26px;
    color: #6F6E6E;
}
.product-cart-info-li-number{
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    border: 1px solid #EAEAEA;
    padding: 1px 16px;
}
.product-cart-close{
    margin-left: 55px;
    color: #575757;
    margin-right: 20px;
    margin-top: 20px;
}
.product-cart-buttons{
    display: flex;
    justify-content: space-between;
}
.product-cart-button{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 16px 40px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    outline: none;
}
.product-cart-button:hover{
    background-color: #A4A4A4;
}
//product-input-form//
.product-input-form-cart{
    display: flex;
    flex-direction: column;
}
.product-input-form-header{
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    font-weight: 300;
}
.input-city{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    outline: none;
    padding: 13px 277px 13px 20px;
    margin-top: 20px;
}
.product-input-form-button{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    padding: 12px 15px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    display: block;
    margin-top: 23px;
}
.product-input-form-button:hover{
    background-color: #A4A4A4;
}
//product checkout//
.product-checkout{
    background: #F5F3F3;
    padding: 40px;
    text-align: end;
    margin-top: 60px;
}
.product-checkout-text{
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}
.product-checkout-price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-weight: bold;
}
.product-checkout-header{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
}
.product-checkout-line{
    height: 1px;
    background: #E2E2E2;
    margin-top: 21px;
    margin-bottom: 16px;
}
.product-checkout-button{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 15px 40px;
    outline: none;
    background: #F16D7F;
    border: none;
    width: 100%;
}
.product-checkout-button:hover{
    background: #fff;
    color: #F16D7F;
    border: 1px solid #F16D7F;
    padding: 14px 39px ;
}
//CART//
.cart-fon{
    background: #F7F7F7;
    padding-top: 11px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.cart-info{
    background: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 65px;
    border: 1px solid #DCDCDC;
    margin-bottom: 129px;
    position: relative;
    margin-top: -50px;
}
.cart-info-header-mini{
    display: block;
}
.cart-info-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 32px;
}
.cart-info-line{
    height: 3px;
    background: #EF5B70;
    width: 60px;
    align-self: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.cart-info-line-second{
    width: 1px;
    background-color: #EAEAEA;;
}
.cart-info-add{
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 15px 60px;
    background-color: #FFFFFF;
    border: 1px solid #F26376;
    margin-top: 50px;
    width: 210px;
    padding: 14px 50px 14px 30px;
    outline: none;
    align-self: center;
}
.cart-info-add:hover{
    background-color:#ebe5e5 ;
}
.cart-info-button-img{
    margin-right: 5px;
}
.feetback-cart-margin{
    margin-top: 100px;
}

.registraition{
    display: flex;
    justify-content: space-between;
}
.registration-form{
    margin-top: 44px;
    margin-right: 128px;
    margin-bottom: 96px;
}
.registration-form-header{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.registration-form-top{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}
.registration-form-name{
    margin-top: 20px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding: 13px 300px 16px 17px;
}
.registraition-radio{
    margin-top: 32px;
    display: flex;
    align-items: center;
}
.sex{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
}
.registration-form-top{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 20px;
}
.registration-form-top-button{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 30px;
    background-color: #F16D7F;
    outline: none;
    margin-top: 40px;
    border: none;
}
.arrow-right{
    margin-left: 20px;
}
.registration-form-top-button:hover{
    color:#F16D7F;
    background-color: #FFFFFF;
    border: 1px solid #F16D7F;
    padding: 15px 29px;
}
.benefit{
    margin-top: 64px;
}
.benefit-header{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.benefit-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.benefit-list{
    list-style-type: none;
    list-style-image: url(img/marcer-benefit.svg);
    margin-left: 27px;
}
.benefit-li{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
}